pip install numpy==1.19.2
pip install pandas==0.25.3
pip install scikit-learn==0.22.2.post1
pip install seaborn==0.10.1
pip install ipython==7.9.0
pip install ipython-genutils==0.2.0
pip install Flask==1.1.2
pip install Flask-Cors==3.0.10
pip install scipy==1.7.3
pip install playsound==1.2.2

 